body {
    background-image: url(images/fastfood.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#orderApp {
    color: rgb(44, 43, 43);
    text-align: center;
    /* background-color: rgb(240, 228, 64); */
    background-color: rgb(233, 230, 53);
    margin: -22px;
    height: 20%;
    padding: 2px;
    border-style: solid;
}

#title {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#directions {
    font-size: 18px;
}

#userInput {
    width: 25%;
    text-align: center;
}

#orderButton {
    border-radius: 15px;
    /* border: none; */
    cursor: pointer;
    font-size: 14px;
    padding: 5px;
    width: 120px;
    border-color: gray;
}

#orderButton:hover {
    background-color: rgb(34, 33, 33);
    color: white;
}

#output {
    font-size: 18px;
}